body {
  background-image: url('/background.png');
  background-color: rgb(4, 4, 4);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

@media (max-width: 992px) { 
  body {
    background-size: auto 100%;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
th,
tr {
  color: white !important;
  font-family: 'Open Sans', 'Calibri', sans-serif;
}

a {
  color: rgb(255, 203, 61) !important;
}

header {
  font-size: 5rem;
  font-family: 'Ringbearer', serif;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

  &.header-medium {
    font-size: 4rem;
  }

  &.header-small {
    font-size: 2.5rem;
  }

  overflow: hidden;
}

h2 {
  font-weight: 600;
}

.text-muted {
  color: rgb(182, 182, 182) !important;
}

.color-yellow {
  color: rgb(248, 203, 78) !important;
}

.bg-none {
  background-color: transparent !important;
  outline: none;
}

.bg-dark {
  background-color: rgb(0, 0, 0, 0.8) !important;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
}

@font-face {
  font-family: 'Ringbearer';
  src: url('./public/fonts/ringm___-webfont.woff2') format('woff2'),
    url('./public/fonts/ringm___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
