.leaderboard-table {
  border-collapse: separate;
  border-radius: 0.25rem;
  border-spacing: 0;

  a {
    color: white !important;
  }

  thead tr:first-child th:first-child {
    border-radius: 0.25rem 0 0 0;
  }

  thead tr:first-child th:last-child {
    border-radius: 0 0.25rem 0 0;
  }

  tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.25rem;
  }

  tbody tr:last-child td:last-child {
    border-radius: 0 0 0.25rem 0;
  }

  .gold {
    background-color: rgba(128, 94, 3, 0.6);

    &.alt {
      background-color: rgba(107, 79, 1, 0.6);
    }
  }

  .silver {
    background-color: rgba(107, 107, 107, 0.6);

    &.alt {
      background-color: rgba(92, 92, 92, 0.6);
    }
  }

  .bronze {
    background-color: rgba(97, 47, 0, 0.6);

    &.alt {
      background-color: rgba(71, 29, 0, 0.6);
    }
  }

  .default {
    background-color: rgba(36, 36, 36, 0.6);

    &.alt {
      background-color: rgba(24, 24, 24, 0.6);
    }
  }

  td {
    font-size: 0.9rem;

    &:nth-child(1) {
      padding-left: 0.5rem;
    }
  }
}
